<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="menuProvider" name="JQuery Menu Provider" schema="schema/menuProvider.exsd"/>
   <extension-point id="selectionListener" name="JQuery Selection Listener" schema="schema/selectionListener.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ca.ubc.jquery.filters.category"
            name="JQuery Filters">
      </category>
      <category
            id="ca.ubc.jquery.quickviews.category"
            name="JQuery Tyruba Views">
      </category>
      <category
            id="ca.ubc.jquery.unused.category"
            name="JQuery Unused">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               id="ca.ubc.jquery.gui.JQueryTreeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="ca.ubc.jquery.gui.tree.ResultsTreeDropAdapter"
            id="ca.ubc.jquery.browser.dropaction">
      </action>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ca.ubc.jquery.browser.commands.quickquery"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
      </key>
      <key
            commandId="ca.ubc.jquery.browser.commands.quickquery"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F5">
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.query"
               value="calls(!this,?M,?),child(?C,?M)">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.selectedVars"
               value="?C,?M">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.inputFilter"
               value="Callable(!this)">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.autoExpand"
               value="2">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.recursiveVar"
               value="?M">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.viewTitle"
               value="outgoing calls">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.useHistoryFilter"
               value="true">
         </parameter>
      </key>
      <key
            commandId="ca.ubc.jquery.browser.commands.quickquery"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F5">
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.query"
               value="(equals(!this,?T);overrides(?T,!this)),polyCalls(?M,?T,?),child(?C,?M)">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.selectedVars"
               value="?C,?M">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.inputFilter"
               value="Callable(!this)">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.autoExpand"
               value="2">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.recursiveVar"
               value="?M">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.viewTitle"
               value="incoming calls">
         </parameter>
         <parameter
               id="ca.ubc.jquery.browser.command.parameter.useHistoryFilter"
               value="true">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.ubc.jquery.gui.commands.QuickQueryCommandHandler"
            commandId="ca.ubc.jquery.browser.commands.quickquery">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ca.ubc.jquery.browser.category.quickquery"
            id="ca.ubc.jquery.browser.commands.quickquery"
            name="Quick Query Here">
         <commandParameter
               id="ca.ubc.jquery.browser.command.parameter.query"
               name="query"
               optional="true"
               typeId="ca.ubc.jquery.browser.command.type.string">
         </commandParameter>
         <commandParameter
               id="ca.ubc.jquery.browser.command.parameter.selectedVars"
               name="selectedVars"
               optional="true"
               typeId="ca.ubc.jquery.browser.command.type.string">
         </commandParameter>
         <commandParameter
               id="ca.ubc.jquery.browser.command.parameter.inputFilter"
               name="inputFilter"
               optional="true"
               typeId="ca.ubc.jquery.browser.command.type.string">
         </commandParameter>
         <commandParameter
               id="ca.ubc.jquery.browser.command.parameter.autoExpand"
               name="autoExpand"
               optional="true"
               typeId="ca.ubc.jquery.browser.command.type.integer">
         </commandParameter>
         <commandParameter
               id="ca.ubc.jquery.browser.command.parameter.recursiveVar"
               name="recursiveVar"
               optional="true"
               typeId="ca.ubc.jquery.browser.command.type.string">
         </commandParameter>
         <commandParameter
               id="ca.ubc.jquery.browser.command.parameter.selectionFilter"
               name="selectionFilter"
               optional="true"
               typeId="ca.ubc.jquery.browser.command.type.string">
         </commandParameter>
         <commandParameter
               id="ca.ubc.jquery.browser.command.parameter.viewTitle"
               name="viewTitle"
               typeId="ca.ubc.jquery.browser.command.type.string">
         </commandParameter>
         <commandParameter
               id="ca.ubc.jquery.browser.command.parameter.useHistoryFilter"
               name="useHistoryFilter"
               typeId="ca.ubc.jquery.browser.command.type.boolean">
         </commandParameter>
      </command>
      <category
            id="ca.ubc.jquery.browser.category.quickquery"
            name="JQuery Quick Query">
      </category>
      <commandParameterType
            id="ca.ubc.jquery.browser.command.type.string"
            type="String">
      </commandParameterType>
      <commandParameterType
            id="ca.ubc.jquery.browser.command.type.integer"
            type="Integer">
      </commandParameterType>
      <commandParameterType
            id="ca.ubc.jquery.browser.command.type.boolean"
            type="Boolean">
      </commandParameterType>
   </extension>

     <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="ca.ubc.jquery"
            class="ca.ubc.jquery.gui.views.JQueryTreeView"
            icon="icons/QueryView.gif"
            id="ca.ubc.jquery.gui.JQueryTreeView"
            name="JQuery Browser">
      </view>
      <view
            allowMultiple="true"
            category="ca.ubc.jquery.quickviews.category"
            class="ca.ubc.jquery.gui.views.JQueryTreeViewWithXML"
            icon="icons/QueryView.gif"
            id="ca.ubc.jquery.gui.JQueryTreeView.outline"
            name="Outline"
            
            query="outlineView(!this,?X)"
            selectedVars="!this,?X"
            link="Editor"
            linkInputFilter="package(?P),child(?P,?CU),child(?CU,!this),type(!this)"
            linkSelectionFilter="Callable(!this);field(!this);Enum(!this)"
            autoExpand="2">
      </view>
      <view
            allowMultiple="true"
            category="ca.ubc.jquery.quickviews.category"
            class="ca.ubc.jquery.gui.views.JQueryTreeViewWithXML"
            icon="icons/QueryView.gif"
            id="ca.ubc.jquery.gui.JQueryTreeView.packageExplorer"
            name="Package Explorer"

            query="package(?P),child(?P,?CU),child(?CU,?T),type(?T),javaFile(?CU)"
            selectedVars="?P,?T"
            link="Editor"
            linkInputFilter="package(!this)" 
            linkSelectionFilter="package(!this)"
            autoExpand="0">
      </view>
      <view
            allowMultiple="true"
            category="ca.ubc.jquery.quickviews.category"
            class="ca.ubc.jquery.gui.views.JQueryTreeViewWithXML"
            icon="icons/QueryView.gif"
            id="ca.ubc.jquery.gui.JQueryTreeView.equals"
            name="Selection"

            query="equals(!this,?T)"
            selectedVars="?T"
            link="Editor"
            linkInputFilter="" 
            linkSelectionFilter=""
            autoExpand="0">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ca.ubc.jquery.filters.category"
            class="ca.ubc.jquery.gui.views.FilterCreationView"
            icon="icons/Bookmark.gif"
            id="ca.ubc.jquery.browser.filters.view"
            name="JQuery Filters">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.ubc.jquery.preferences"
            class="ca.ubc.jquery.preferences.TreeBrowserPreferences"
            id="ca.ubc.jquery.browser.page1"
            name="Tree Browser Preferences">
      </page>
   </extension>

   <extension
      point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID = 
         "*">
      <showInPart id = "ca.ubc.jquery.gui.JQueryTreeView"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ca.ubc.jquery.browser.editorContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <action
               class="ca.ubc.jquery.browser.actions.OpenJQueryViewAction"
               id="ca.ubc.jquery.browser.actions.OpenJQueryViewAction"
               label="Open with JQuery"
               menubarPath="group.show">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="ca.ubc.jquery.browser.objectContribution"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="ca.ubc.jquery.browser.actions.OpenJQueryViewAction"
               id="ca.ubc.jquery.browser.actions.OpenJQueryViewAction"
               label="Open with JQuery"
               menubarPath="group.show">
         </action>
      </objectContribution>
   </extension>

</plugin>
